<div class="conv">
<button class="btn btn-success" routerLink="/header">First page</button>
</div>
<div class="container mt-5">
<table class="table table-striped">
  <thead>
      <tr>
          <th>ccy</th>
          <th>buy</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let cyr of par">
        <td>{{cyr.ccy}}</td>
        <td>{{cyr.buy}}</td>
      </tr>
  </tbody>
</table>
</div>
<div class="container mt-5">
  <label>Enter number</label>
<div class="input-group mb-3">
    <span class="input-group-text">$</span>
    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" [(ngModel)]="num">
    <span class="input-group-text">
        <select class="form-select" aria-label="Default select example" [(ngModel)]="summa">
            <option selected *ngFor="let item of par">{{item.buy}}</option>
        </select>
    </span>
  </div>
  <label>You summa</label>
  <div class="input-group mb-3">
    <span class="input-group-text">$</span>
    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" [value]="miltip()">
    <span class="input-group-text">
        <select class="form-select" aria-label="Default select example"[(ngModel)]="summa1">
            <option selected *ngFor="let item of par">{{item.buy}}</option>
        </select>
    </span>
  </div>
  <label>Choose cyrrency</label>
  <div class="input-group mb-3">
    <span class="input-group-text">$</span>
    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" [value]="division()">
  </div>
</div>
