<div class="conv">
<button class="btn btn-success" routerLink="/header">First page</button>
</div>
<div class="container mt-5">
<table class="table table-striped">
  <thead>
      <tr>
          <th>ccy</th>
          <th>buy</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let cyr of par">
        <td>{{cyr.ccy}}</td>
        <td>{{cyr.buy}}</td>
      </tr>
  </tbody>
</table>
</div>
<p>yyy</p>
<h1>Public API Currency</h1>
<div class="container mt-5">
  <label>Enter number</label>
<div class="input-group mb-3">
    <span class="input-group-text">{{cangetMoney}}</span>
    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" [(ngModel)]="responseTwo">
  <span class="input-group-text">
    <select #select (mouseleave)="canget(select.value)" class="input-group-text" (click)="convertTwo()">
      <option value="USD">USD</option>
      <option value="UAH">UAH</option>
      <option value="EUR">EUR</option>
    </select>
  </span>

  </div>
  <label>You summa</label>
  <div class="input-group mb-3">
    <span class="input-group-text">{{cangetMoneyTo}}</span>
    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" [(ngModel)]="response" [value]="multiple()">
    <span class="input-group-text">
      <select #selectTo (mouseleave)="cangetTo(selectTo.value)" class="input-group-text" (click)="convertTwo()">
      <option value="UAH">UAH</option>
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
    </select>
    </span>
  </div>

  <div class="buttonsGroup">
  <div class="secondButton">
    <button class="btn btn-danger" (click)="reset()">Clear input</button>
  </div>
  </div>
</div>
